.move-to-the-bottom-of-page {
    position: fixed; 
    width: 100%; 
    bottom: 10px;
}

.push-div-down {
    padding-top: 45px;
}

.create-space-25 {
    margin-top: 25px;
}

.create-space-45 {
    margin-top: 45px;
}

.fixed-content {
    overflow-y:hidden;
    overflow-x:scroll;
}
