{% extends "layout.html" %}
{% load static %}

{% block title %}Schema Validation{% endblock %}

{% block body %}

<div class="container">
    <h2 class="mb-4">Would you like to perform schema validation?</h2>
    <h5>If you'd like to perform schema validation, for columns which you'd like to validate, please, pick desired data type.</h5>

        <div class="push-div-down">
            <form action="{% url 'results' %}" method="post">
                {% csrf_token %}
                <div class="fixed-content">
                    <table class="table">
                        <thead>
                            <tr>
                                {% for field in form %}
                                    <th scope="col">{{ field.label }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                {% for field in form %}
                                    <td>{{ field }}</td>
                                {% endfor %}
                            </tr>
                        </tbody>
                    </table>
                </div>
                
                <div class="row push-div-down-65">
                    <div class="col-3"></div>
                    <div class="col-3">
                        <button type="submit" class="btn btn-primary">Perform Schema Validation</button>
                    </div>
                    <div class="col-3">
                        <a href="{% url 'results' %}" class="btn btn-light">Skip Schema Validation</a>
                    </div>
                    <div class="col-3"></div>
                </div>
            </form>
        </div>
</div>

{% endblock %}