{% extends "layout.html" %}
{% load static %}

{% block title %}Schema Validation{% endblock %}

{% block body %}

<div class="container">
    <h2 class="mb-4">Would you like to perform schema validation?</h2>
    <h5>If you'd like to perform schema validation, for columns which you'd like to validate, please, pick desired data type.</h5>

         <div class="push-div-down fixed-content">
            <table class="table">
                <thead>
                    <tr>
                        {% for header in columns %}
                            <th scope="col">{{ header }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for header in columns %}
                            <td>
                                <select name="columns" class="form-select">
                                    {% for key, value in data_types.items %}
                                        <option>{{ key }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
         </div>
   

    <div class="row push-div-down-65">
        <div class="col-3"></div>
        <div class="col-3">
            <button type="button" class="btn btn-primary">Perform Schema Validation</button>
        </div>
        <div class="col-3">
            <button type="button" class="btn btn-light">Skip Schema Validation</button>
        </div>
        <div class="col-3"></div>
    </div>
    </h3>
</div>

{% endblock %}