.push-div-down {
    padding-top: 45px;
}

.push-div-down-25 {
    padding-top: 25px;
}

.push-div-down-65 {
    padding-top: 65px;
}

.create-space-25 {
    margin-top: 25px;
}

.create-space-45 {
    margin-top: 45px;
}

.fixed-content {
    overflow-y:hidden;
    overflow-x:scroll;
}
